@import url("ResetCSS.scss");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&display=swap");
:root {
  font-family: "Titillium Web", "PT Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor: url("/cursor.png"), auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;

  --component-bgr-transparent-color: #000000c2;
  --component-bgr-transparent-color2: #000000e0;
  --emphasized-text-about: #afb1ff;
  --text-color-shadow: #ffffffde;
  --hero-text-shadow-additional: #bbbbbbc2;
  --box-shadow-color: #1e4d94;
  --box-shadow-color-secondary: #a7a6a6;

  --card-box-shadow-color: #1e4d97;
  --card-box-shadow-color-hover: #4990be;
  --card-box-shadow-collor-button: #454f6c;
  --card-box-shadow-collor-button-hover: #1e4d96;
  --card-text-collor-button: #2c70dd;
  --card-text-collor-button-1: #7caefff8;
  --card-almost-tranpsarent-bgr: #6969693a;

  --about-link-collor: #7382b1;
  --about-link-collor-hover: #93a0c7;
  --about-text-collor: #2f78ee;

  --btn-active-bgr: #132fba73;
  --nav-btn-active-bgr: #78787859;
  --nav-btn-active-main-clr: #0bacc9;

  --form-input-bgr: #334e4c;
  --form-active-button-bgr-color: #79797959;
  --form-label-color: #7fcdff;
  --form-input-valid: #5eff0079;
  --form-input-invalid: #360000e0;
}

.main {
  width: 100%;
  height: 100%;

  .videoTag {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .loader-comp {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    height: 5px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
    .videoTag {
      height: 200px;
    }
  }
}
